/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_8193b8354ddb37432ea105e5430b0958.eot");
  src: url("./fontcustom_8193b8354ddb37432ea105e5430b0958.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_8193b8354ddb37432ea105e5430b0958.woff") format("woff"),
       url("./fontcustom_8193b8354ddb37432ea105e5430b0958.ttf") format("truetype"),
       url("./fontcustom_8193b8354ddb37432ea105e5430b0958.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_8193b8354ddb37432ea105e5430b0958.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-360:before,
.icon-360-outline:before,
.icon-button:before,
.icon-button-outline:before,
.icon-data:before,
.icon-data-outline:before,
.icon-feature:before,
.icon-feature-outline:before,
.icon-io:before,
.icon-io-outline:before,
.icon-kit:before,
.icon-kit-outline:before,
.icon-probe:before,
.icon-probe-outline:before,
.icon-video:before,
.icon-video-outline:before {
  display: block !important;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.icon-360:before { content: "\f100"; }
.icon-360-outline:before { content: "\f101"; }
.icon-button:before { content: "\f102"; }
.icon-button-outline:before { content: "\f103"; }
.icon-data:before { content: "\f104"; }
.icon-data-outline:before { content: "\f105"; }
.icon-feature:before { content: "\f106"; }
.icon-feature-outline:before { content: "\f107"; }
.icon-io:before { content: "\f108"; }
.icon-io-outline:before { content: "\f109"; }
.icon-kit:before { content: "\f10a"; }
.icon-kit-outline:before { content: "\f10b"; }
.icon-probe:before { content: "\f10c"; }
.icon-probe-outline:before { content: "\f10d"; }
.icon-video:before { content: "\f10e"; }
.icon-video-outline:before { content: "\f10f"; }
