<nav-page>
	<side-menus>
		<fade-bar></fade-bar>
		<pane side-menu-content>

			<header-bar left-buttons="leftButtons" type="bar-positive" align-title="center" title="employee.sku">
			</header-bar>

			<tabs tabs-type="tabs-icon-top" tabs-style="tabs-light">
				<tab title="{{page.id}}" ng-repeat="page in employee.pages" icon-on="icon ion-refresh" icon-off="icon ion-ios7-reload">


					<content padding="true" has-header="true" has-footer="true" scroll="false">
						<div class="wrapper">
							<div class="product">
								<img ng-repeat="img in page.imgs" class="child fade-in-not-out" ng-src="../pic/{{employee.sku}}/{{page.imgs}}.png" />
							</div>
							
							<div class="info">{{page.id}}</div>
							
						</div>




					</content>

				</tab>

			</tabs>
		</pane>


		<side-menu side="left">
			<content ng-controller="EmployeeListCtrl">
				<list>

					<a class="item" href="#/employees">

						<p>Home</p>
					</a>

					<a class="item item-thumbnail-left" ng-click="go('/employees/' + employee.id)" ng-repeat="employee in employees">
						<img ng-src="http://placehold.it/{{employee.thumb}}">
						<p>{{employee.sku}}</p>
						<p>{{employee.title}}</p>
					</a>

				</list>
			</content>
		</side-menu>

	</side-menus>
</nav-page>
