<!DOCTYPE html>
<html ng-app="starter">

<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="initial-scale=1, user-scalable=no">
	<title>Hanna Instruments</title>

	<link href="http://code.ionicframework.com/nightly/css/ionic.min.css" rel="stylesheet">

	<!-- app css -->
	<link href="css/custom.min.css" rel="stylesheet">
	<link href="iconfont/fontcustom.css" rel="stylesheet">

	<!--Requiered JS-->
	<script src="lib/jquery.min.js"></script>
	<script src="js/custom.js"></script>


	<script src="http://code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
	<!--<script src="lib/js/ionic.bundle.js"></script>-->


	<script src="cordova.js"></script>

	<!-- app script -->
	<script src="js/app.min.js"></script>
	<script src="js/services.min.js"></script>
	<script src="js/controllers.min.js"></script>
	<script src="js/directives.min.js"></script>


	<!-- deviceready Files-->
	<script src="js/index.js"></script>
	<script src="js/native.js"></script>

<!--
	<script src="http://192.168.1.25:8080/target/target-script-min.js#anonymous"></script>
-->




</head>

<body>

	<!-- where the initial view template will be rendered -->
	<ion-nav-view  animation="slide-left-right"></ion-nav-view>


	<script id="detail.html" type="text/ng-template">
		<ion-view title="pet.sku" left-buttons="leftButtons" right-buttons="rightButtons">

    <ion-tabs tabs-type="tabs-icon-top" tabs-style="tabs-light">

        <ion-tab title="{{page.id}}" icon="{{page.icon}}" ng-repeat="page in pet.pages | orderBy:orderProp">

            <ion-slide-box ng-if="page.type === 'slide'" does-continue="true">

                <ion-slide ng-repeat="slide in page.slides">

                    <div class="wrapper has-tabs has-header">

                        <div class="product">

                            <img class="child" ng-src="img/{{pet.sku}}/{{slide.img}}.png">

                        </div>

                        <div class="info">

                            <p>{{slide.content}}</p>

                        </div>

                    </div>

                </ion-slide>

            </ion-slide-box>

            <div ng-if="page.type === 'normal'" class="wrapper has-tabs has-header">

                <div class="product" image-rotator>

                    <img ng-repeat="img in page.imgs" class="child" ng-src="img/{{pet.sku}}/{{img}}.png">

                </div>

                <div class="info">

                    <p>{{page.content}}</p>

                </div>

            </div>

            <div ng-if="page.type === 'video'">

                <ion-content has-header="true" has-tabs="true">

                    <h3 style="text-align:center;">{{pet.sku}}</h3>

                    <div class="row">

                        <div class="col" style="max-width: 1200px;margin: auto;">

                            <div class='embed-container'>

                                <iframe type="text/html" src="{{page.src}}" frameborder="0" allowfullscreen></iframe>

                            </div>
                        </div>

                    </div>

                </ion-content>

            </div>

        </ion-tab>

    </ion-tabs>

</ion-view>
	</script>
	<script id="intro.html" type="text/ng-template">
		<ion-view title="'Intro'">
	
	    <ion-header-bar type="bar-positive" left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="true"></ion-header-bar>
	
	    <ion-slide-box on-slide-changed="slideChanged(index)" does-continue="true">
	
	        <ion-slide>
	
	            <h1>Welcome</h1>
	
	            <div class="logo">
	
	                <img src="img/logo.svg" class="logo">
	
	            </div>
	
	            <p>This interactie demo lets you learn
	                <br>more about some of key products from
	                <br>Hanna Instruments</p>
	
	
	        </ion-slide>
	
	        <ion-slide>
	
	
	
	            <h1>Complete Detail</h1>
	
	            <div id="list">
	
	                <p>Here you can:</p>
	
	                <ul>
	
	                    <li>See each product in 360&deg;</li>
	
	                    <li>View important features</li>
	
	                    <li>Link directly to manuals, videos, and other online assets</li>
	
	                </ul>
	
	            </div>
	
	        </ion-slide>
	
	        <ion-slide>
	
	
	            <h1>Ready?</h1>
	
	            <br>
	
	            <br>
	
	            <a class="button icon-right ion-checkmark  button-positive" ng-click="startApp()">Let's Start</a>
	
	        </ion-slide>
	
	    </ion-slide-box>
	
	</ion-view>
	</script>
	<script id="list.html" type="text/ng-template">
		<ion-view title="'Hanna Instruments'">
	
		<ion-content has-header="true">
	
			<img src="img/logo.svg" class="logo">
	
			<div class="list">
	
				<a ng-repeat="pet in pets | orderBy:'sku'" class="item item-thumbnail-left" href="#{{pet.id}}">
	
					<img src="img/{{pet.sku}}/thumb.png">
	
					<h3>{{pet.sku}}</h3>
	
					<p>{{pet.title}}</p>
	
				</a>
	
			</div>
	
		</ion-content>
	
	</ion-view>
	</script>
	<script id="main.html" type="text/ng-template">
		<ion-view>

	<ion-side-menus>

		<fade-bar></fade-bar>

		<ion-pane ion-side-menu-content id="nav-menu-pane">

			<ion-nav-bar type="bar-positive" hide-back-button="true" animation="nav-title-slide-ios7"></ion-nav-bar>

			<ion-nav-view animation="slide-left-right" name="content"></ion-nav-view>
				
		</ion-pane>

		<ion-side-menu side="left">

			<div class="bar bar-header bar-dark">
				
				<h1 class="title">Hanna Instruments</h1>
				
			</div>

			<ion-content has-header="true">

				<div class="list" ng-controller="IndexCtrl">

					<a ng-repeat="pet in pets | orderBy:'sku'" class="item" href="#{{pet.id}}" ng-click="toggleMenu()">

						<h3>{{pet.sku}}</h3>

						<p>{{pet.title}}</p>

					</a>

				</div>

			</ion-content>

		</ion-side-menu>

	</ion-side-menus>

</ion-view>
	</script>

</body>

</html>