<view title="detail">
    <side-menus>

        <fade-bar></fade-bar>
        <!-- Center content -->

        <pane side-menu-content>

            <tabs tabs-type="tabs-icon-top" tabs-style="tabs-primary">





                <tab title="{{page.id}}" icon-on="icon ion-ios7-filing" icon-off="icon ion-ios7-filing-outline" ng-repeat="page in pet.pages">
                    <header-bar title="pet.title" type="bar-positive">
                    </header-bar>
                    <content has-header="true" padding="true" scroll="false">
<!--
                        <p>{{pet.id}}</p>
                        <p>{{pet.title}}</p>
                        <p>{{ pet.description }}</p>

                        <p>{{page.id}}</p>
-->
                    
                    
                    <div class="wrapper">
							<image-Rotator>
							    
							</image-Rotator>
							
							<div class="info">{{page.id}}</div>
							
						</div>
                    
                    
                    </content>

                </tab>






            </tabs>

        </pane>








        <!-- Left menu -->
        <side-menu side="left" ng-controller="PetIndexCtrl">
            <header-bar title="headerTitle" type="bar-dark">
            </header-bar>
            <content has-header="true">
                <list>
                    <item href="#/">Home</item>
                    <item ng-repeat="pet in pets" type="item-text-wrap" href="#/pet/{{pet.id}}">
                        <h3>{{pet.title}}</h3>
                        <p>{{pet.description}}</p>
                    </item>
                </list>
            </content>
        </side-menu>

    </side-menus>
</view>