<ion-view title="pet.sku" left-buttons="leftButtons" right-buttons="rightButtons">

	<ion-tabs tabs-type="tabs-icon-top" tabs-style="tabs-light">

		<ion-tab title="{{page.id}}" icon="{{page.icon}}" ng-repeat="page in pet.pages | orderBy:orderProp">

			<ion-slide-box ng-if="page.type === 'slide'">

				<ion-slide ng-repeat="slide in page.slides">

					<div class="wrapper has-tabs has-header">

						<div class="product">

							<img class="child" ng-src="img/{{pet.sku}}/{{slide.img}}.png">

						</div>

						<ion-content class="info" has-bouncing="true" padding="true">

							<p>{{slide.content}}</p>

						</ion-content>

					</div>

				</ion-slide>

			</ion-slide-box>

			<div ng-if="page.type === 'normal'" class="wrapper has-tabs has-header">

				<div class="product" image-rotator>

					<img ng-repeat="img in page.imgs" class="child" ng-src="img/{{pet.sku}}/{{img}}.png">

				</div>

				<ion-content has-bouncing="true" padding="true" class="info">

					<p>{{page.content}}</p>

				</ion-content>

				

			</div>

			<div ng-if="page.type === 'video'">

				<ion-content has-header="true" has-tabs="true" has-bouncing="true" padding="true"> 
	
					<div class="row">

						<div class="col" style="max-width: 1200px;margin: auto;">

							<div class='embed-container'>

								<iframe type="text/html" src="{{page.src}}" frameborder="0" allowfullscreen></iframe>

							</div>
						</div>

					</div>

				</ion-content>

			</div>

		</ion-tab>

	</ion-tabs>

</ion-view>