<ion-view>

	<ion-side-menus>

		<fade-bar></fade-bar>

		<ion-pane ion-side-menu-content id="nav-menu-pane">

			<ion-nav-bar type="bar-positive" hide-back-button="true" animation="nav-title-slide-ios7"></ion-nav-bar>

			<ion-nav-view name="content" animation="slide-left-right"></ion-nav-view>

		</ion-pane>

		<ion-side-menu side="left">

			<div class="bar bar-header bar-dark">


			</div>

			<ion-content has-header="true" class="dark">

				<div class="list" ng-controller="IndexCtrl">

					<a ng-repeat="pet in pets | orderBy:'sku'" class="item" href="#{{pet.id}}" ng-click="toggleMenu()">

						<h3>{{pet.sku}}</h3>

						<p>{{pet.title}}</p>

					</a>

				</div>

			</ion-content>

		</ion-side-menu>

	</ion-side-menus>

</ion-view>